<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<title>charan teja</title>
<style>
.navbar-nav .nav-link {
	font-size: 22px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid ">
			<a class="navbar-brand" href="#"><img alt=""
				src="images/AshokIT-Logo.jpg"></a>
			<div class="collapse navbar-collapse justify-content-end"
				id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto ">
					<li class="nav-item active "><a class="nav-link" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Services</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Courses</a></li>
					<li class="nav-item"><a class="nav-link" href="#">ContactUs</a>
					</li>
				</ul>
			</div>
			<a class="btn btn-danger" href="login">Login</a>
		</div>
	</nav>


	<div id="carouselExample" class="carousel slide  ">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="images/banner_1.jpg" class="d-block w-100" height=280px;
					alt="...">
			</div>
			<div class="carousel-item">
				<img src="images/banner_2.jpg" class="d-block w-100 "
					height=280px;alt="...">
			</div>
			<div class="carousel-item">
				<img src="images/banner_3.jpg" class="d-block w-100 " height=280px;
					alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button"
			data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button"
			data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Next</span>
		</button>

	</div>

	<h2 align="center">Trending Courses</h2>
	<div class="row ">
	
		<div class="col-md-3 px-md-5">
			<img alt="" src="images/course_1.jpg" width="280px">
		</div>
		<div class="col-md-3 px-md-5">
			<img alt="" src="images/course_2.jpg" width="280px">
		</div>
		<div class="col-md-3 px-md-5">
			<img alt="" src="images/course_3.jpg" width="280px">
		</div>
		<div class="col-md-3 px-md-4">
			<img alt="" src="images/course_4.jpg" width="280px">
		</div>

	</div>

	<script
		src="
		https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
		
	</script>

	<br>

	<footer>
		<div class="text-center text-primary">
			<h6> © 2024 Copyright: charanteja</h6>
		</div>
	</footer>
</body>

</html>